/* VARIABLES */
:root {
    /* TEXT VARIABLES */
    --text-light: hsl(0, 0%, 98%);
    --text-dark: hsl(0, 0%, 8%);
    --text-gray: hsl(0, 0%, 41%);
    --body-font: 'Epilogue', sans-serif;
    --h1-size: 80px;
    --p-size: 18px;
    --p-height: 145%;
    --a-size: 15px;
    --btn-size-primary: 18px;
    --btn-size-secondary: 15px;
    --btn-radius: 15px;
    --sub-menu-container: 10px;

    /* SPACING VARIABLES */
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 32px;
    --spacing-xl: 64px;
    --standard-width: 1250px;

    /* COLOR VARIABLES */
    --black: hsl(0, 0%, 8%);
    --gray: hsl(0, 0%, 41%);
    --light: hsl(0, 0%, 98%);

    --bg-gray: hsl(0, 0%, 41%);
    --bg-dark: hsl(0, 0%, 8%);
    --bg-light: hsl(0, 0%, 98%);
    --bg-white: hsl(0, 0%, 100%);
}

/* GENERAL ELEMENT STYLES */
body {
    font-family: var(--body-font);
    color: var(--text-gray);
    box-sizing: border-box;
    margin: 0;
    background-color: var(--bg-light);
}

h1 {
    font-size: var(--h1-size);
    color: var(--text-dark);
    font-weight: 700;
    margin: 0 0 var(--spacing-lg) 0;
}

p {
    font-size: var(--p-size);
    font-weight: 500;
    line-height: var(--p-height);
    margin: var(--spacing-md) 0 var(--spacing-lg) 0;
    width: 430px;
}

/* BUTTON STYLES */
button {
    cursor: pointer;
    border-radius: var(--btn-radius);
    -webkit-border-radius: var(--btn-radius);
    -moz-border-radius: var(--btn-radius);
    -ms-border-radius: var(--btn-radius);
    -o-border-radius: var(--btn-radius);
    font-family: var(--body-font);
}

.btn-primary {
    font-size: var(--btn-size-primary);
    font-weight: 700;
    padding: 15px 30px;
    border: 2px solid var(--black);
    background-color: var(--bg-dark);
    color: var(--text-light);
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
    -ms-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    margin: var(--spacing-md) 0 0 0;
}

.btn-primary:hover {
    background-color: transparent;
    color: var(--text-dark);
}

.btn-secondary {
    font-size: var(--btn-size-secondary);
    color: var(--text-gray);
    font-weight: 500;
    background-color: transparent;
    border: none;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
    -ms-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
}

.btn-secondary:hover {
    color: var(--text-dark);
}

.with-border {
    padding: 12px 18px;
    border: 2px solid var(--gray);
    transition: 0.2s all ease;
}

.with-border:hover {
    border: 2px solid var(--black);
}

/* LINK STYLES */
ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    position: relative;
}

.with-icon {
    display: flex;
    align-items: center;
}

.with-icon>svg {
    margin: 0 0 0 var(--spacing-sm);
}

.with-icon>svg>path {
    transition: 0.2s stroke ease;
    -webkit-transition: 0.2s stroke ease;
    -moz-transition: 0.2s stroke ease;
    -ms-transition: 0.2s stroke ease;
    -o-transition: 0.2s stroke ease;
}

a {
    text-decoration: none;
    color: var(--text-gray);
    font-size: var(--a-size);
    font-weight: 500;
    transition: 0.2s color ease;
    -webkit-transition: 0.2s color ease;
    -moz-transition: 0.2s color ease;
    -ms-transition: 0.2s color ease;
    -o-transition: 0.2s color ease;
}

a:hover,
a:hover>svg>path {
    color: var(--text-dark);
    stroke: var(--black);
}

.activeSvg svg {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transition: 0.5s transform ease;
    -webkit-transition: 0.5s transform ease;
    -moz-transition: 0.5s transform ease;
    -ms-transition: 0.5s transform ease;
    -o-transition: 0.5s transform ease;
}

.inactiveSvg svg {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transition: 0.5s transform ease;
    -webkit-transition: 0.5s transform ease;
    -moz-transition: 0.5s transform ease;
    -ms-transition: 0.5s transform ease;
    -o-transition: 0.5s transform ease;
}

.activeLink {
    color: var(--text-dark);
}

.activePath {
    stroke: var(--black);
}

.top-level-entry-container {
    margin: var(--spacing-md) 0 0 0;
    flex-direction: column;
    position: absolute;
    width: max-content;
    align-items: flex-start;
    background-color: var(--bg-white);
    box-shadow: 0px 2px 15px -4px var(--bg-gray);
    padding: calc(var(--spacing-md) + 4px);
    border-radius: var(--sub-menu-container);
    -webkit-border-radius: var(--sub-menu-container);
    -moz-border-radius: var(--sub-menu-container);
    -ms-border-radius: var(--sub-menu-container);
    -o-border-radius: var(--sub-menu-container);
    opacity: 0;
    transform: scaleY(0.9);
    -webkit-transform: scaleY(0.9);
    -moz-transform: scaleY(0.9);
    -ms-transform: scaleY(0.9);
    -o-transform: scaleY(0.9);
    transform-origin: center top;
    transition: 0.1s all ease;
    -webkit-transition: 0.1s all ease;
    -moz-transition: 0.1s all ease;
    -ms-transition: 0.1s all ease;
    -o-transition: 0.1s all ease;
}

.top-level-entry-container>li {
    margin: 0 0 var(--spacing-md) 0;
}

.top-level-entry-container>li:last-child {
    margin: 0;
}

.top-level-entry-container img {
    width: 15px;
    margin: 0 var(--spacing-sm) 0 0;
}

#sub-menu-features {
    left: -70px;
}

.show-sub-menu {
    opacity: 1;
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform-origin: center top;
    transition: 0.1s all ease;
    -webkit-transition: 0.1s all ease;
    -moz-transition: 0.1s all ease;
    -ms-transition: 0.1s all ease;
    -o-transition: 0.1s all ease;
}

/* LAYOUT STYLES */
.section-container {
    width: 100%;
    max-width: var(--standard-width);
}

.two-column {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.two-column>.col-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.two-column>.col-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.partner-container {
    width: 100%;
    display: flex;
    align-items: center;
}

/* header SECTION STYLES */
header {
    margin: var(--spacing-lg) 0 0 0;
    display: flex;
    justify-content: center;
}

header nav {
    max-width: 1400px !important;
    margin: 0 var(--spacing-md);
    display: flex;
    justify-content: space-between;
}

header .nav-group {
    display: flex;
    align-items: center;
}

header .nav-group>img,
header .nav-group>ul>li,
header .btn-group>.btn-secondary:first-child {
    margin: 0 var(--spacing-lg) 0 0;
}

#burger-menu {
    display: none;
}

/* HERO SECTION STYLES */
.hero {
    display: flex;
    justify-content: center;
    margin: var(--spacing-md) var(--spacing-md) 0 var(--spacing-md);
}

.hero .col-left {
    height: 100%;
    justify-content: center;
    margin: 0 var(--spacing-md) 0 0;
}

.hero .col-left .partner-container {
    margin: calc(var(--spacing-xl) * 2) 0 0 0;
}

.hero .col-left .partner-container img {
    margin: 0 calc(var(--spacing-lg) + 5px) 0 0;
}

.hero .col-right img {
    width: 100%;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
}

@media only screen and (max-width:1200px) {

    /* HERO SECTION STYLES */
    .hero {
        margin: var(--spacing-xl) var(--spacing-xl) 0 var(--spacing-xl);
    }

    .hero .col-left {
        margin: 0;
    }

    .hero .col-left .partner-container {
        justify-content: space-between;
    }

    .hero .col-left .partner-container img {
        margin: 0;
    }
}

@media only screen and (max-width: 1144px) {
    :root {
        --h1-size: 70px;
    }

    /* HERO SECTION STYLES */
    .hero .col-left .partner-container {
        margin: var(--spacing-xl) 0 0 0;
    }
}

@media only screen and (max-width: 992px) {

    /* HERO SECTION STYLES */
    .hero {
        margin: var(--spacing-xl) var(--spacing-md) 0 var(--spacing-md);
    }

    .hero .col-left {
        width: 60%;
    }

    .hero .col-right img {
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
    }
}